<!-- <app-saludo a *ngFor="let item of nombres" [nombre]="item"></app-saludo> -->
<!-- nombre es la variable del componentes ts que recive item del componente nombrepara ello se debe incluir input decorador
y tambien 
 @Input() nombre!:string; -->

<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar
                            nombre..." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="Imagen Url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
                        </div>
                        <!-- #son variables de plantilla swe laas vincula al evento click nombre es un objeto se accede al contenido con value
                        se debe definir la funcion en el compontnen al guardar -->
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-saludo a *ngFor="let item of nombresF; let i = index" 
        [nombreF]="item"
        [position] = "i+1"
        (clicked) = "elegido(item)"
        ></app-saludo>
    </div>
</div>