<!-- <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <!-- <h4>{{nombreF.nombre}}</h4> -->
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{nombreF.imagenUrl}}</h3>
        <p>Servicios</p>
        <ul>
            <!-- se recorre el vector de servicios vailda si es desayuno y lo resalta con switchcase -->
            <li *ngFor="let s of nombreF.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                  <i *ngSwitchDefault>{{s}}  </i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">IR! </a>
        <!-- <span [style.display]= "nombreF.isSelected() ? '' : 'none' " >-- PREFERIDO --</span> -->
        <span *ngIf="nombreF.isSelected()" >
            <span ngNonBindable>{{PREFERIDO}}</span> 
            <!-- ngNonBindable es usado para no ser vindiable a angular. -->
        </span>
        
    </div>
</div>